.loading-state {
    background-color: #ffffff;
    background-image: url("./ajax-loader.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

#fetch-textbox {   
    padding: 10px;
    min-width: 100px;
}

#fetch-textbox::-ms-clear {
    display: none;
}

.fetch-textbox-suggestions {
	width: 100%;
	display: flex;
	height: 20px;
	padding: 0; 
	margin: 0;
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
	max-height: 10%;
}

.fetch-textbox-suggestions ul li{
	width:auto;
	position: relative;
	transition: background 250ms ease-in;
	line-height: 20px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.hidden {
  display: none;
}